.apply-discount {
  padding-bottom: 12px;

  .checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;

    .title {
      font-size: 14px;
      font-weight: 500;
      color: #000;
    }

    .info-icon {
      font-size: 14px;
      color: #8c8c8c;
      margin-left: 4px;
      cursor: pointer;
    }
  }

  .description {
    font-size: 14px;
    color: #595959;
    margin-left: 26px;
    display: block;
  }
}
